<div class="container mt-5 d-flex ">
    <div>
        <h3>Name: {{CRUD.name}}</h3>
        <h4>description: {{CRUD.des}}</h4>
    </div>
    <div class="ms-5">
        <img src="{{CRUD.img}}" alt="" class="w-75 h-75">
    </div>
</div>